* {
    margin: 0;
    padding: 0;
}

body { 
    margin: 0 0;
    box-sizing: border-box;
    font-style: normal;
}

header {
    display: grid;

    hr.hr1 {
        border: 1px solid black;
    }
    hr.hr0 {
        display: none;    
    }
    .navbars {
        float: left;
        margin: 0;
        height: 50px;
        background-color:  rgb(99, 169, 192);

        .menuicon {
            margin-top: 10px;
            margin-right: 10px;  
            display: none;  
            transition: 0.6s ease;    
        }

        .menu {
            width: 30px;
            float: right;
            cursor: pointer;
        }
    
        ul {
            float: right;
            list-style-type: none;
            margin-top: 15px;
            margin-right: 10px;
        }
        
        li {
            display: inline-block;
        }
    
        a {
            padding: 5px 20px;
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
            border: 1px solid transparent;
            border-radius: 5px;
            transition: 0.6s ease;
        }
    
        a:hover {
            color: white;
        }
    
        .active a {
            color: white;
            font-weight: bolder;
            font-size: larger;
        }

        .logo img {
            float: left;
            width: 70px;
            height: auto;
            margin: 6px;
            border-radius: 40%;
        }
    }
}

.footer{
	background-color: #24262b;
    padding: 70px 0;
    line-height: 1.5;
	font-family: 'Poppins', sans-serif;

    .container{
        max-width: 1170px;
        margin:auto;

        .row{
            display: flex;
            flex-wrap: wrap;

            .footer-col{
                width: 20%;
                padding: 0 15px;

                h4{
                    font-size: 18px;
                    color: #ffffff;
                    text-transform: capitalize;
                    margin-bottom: 35px;
                    font-weight: 500;
                    position: relative;
                }
                h4::before{
                    content: '';
                    position: absolute;
                    left:0;
                    bottom: -10px;
                    background-color: #e91e63;
                    height: 2px;
                    box-sizing: border-box;
                    width: 50px;
                }
                ul{
                    list-style: none;

                    li:not(:last-child){
                        margin-bottom: 10px;
                    }
                    li {
                        a{
                            font-size: 16px;
                            text-transform: capitalize;
                            color: #ffffff;
                            text-decoration: none;
                            font-weight: 300;
                            color: #bbbbbb;
                            display: block;
                            transition: all 0.3s ease;
                        }
                        a:hover{
                            color: #ffffff;
                            padding-left: 8px;
                        }
        
                    }
                }
                
                .social-links a{
                    display: inline-block;
                    height: 40px;
                    width: 40px;
                    background-color: rgba(255,255,255,0.2);
                    margin:0 10px 10px 0;
                    text-align: center;
                    line-height: 40px;
                    border-radius: 50%;
                    color: #ffffff;
                    transition: all 0.5s ease;
                }
                .social-links a:hover{
                    color: blue;
                    background-color: white;
                }
             }
        }
    }
}

// profile card

.containerp{
    font-family: 'Poppins', sans-serif; 
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position: relative;
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.card:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, #00f2fe, #4facfe);
    clip-path: circle(400px at 50% -48.5%);
}

.header{
    position: relative;
    height: 265px;

    .mail{
        position: absolute;
        top: 1rem;
        right: 2rem;
        font-size: 1.5rem;
        color: #fff;
        opacity: .8;
        transition: .3s;
        z-index: 1;
        text-decoration: none;
    }
    .mail:hover{
        opacity: 1;
    }
    .hamburger-menu{
        position: absolute;
        width: 21px;
        height: 16px;
        top: 1.4rem;
        left: 1.9rem;
        z-index: 1;
        cursor: pointer;
        transition: .3s;
        opacity: .8;
    }
    
    .hamburger-menu:hover{
        opacity: 1;
    }
    
    .hamburger-menu .center{
        position: absolute;
        height: 2px;
        width: 70%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        border-radius: 1px;
    }
    .hamburger-menu:before, .hamburger-menu:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 1px;
        background-color: #fff;
    }
    
    .hamburger-menu:before{
        top: 0;
    }
    
    .hamburger-menu:after{
        bottom: 0;
    }
    .main{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .userinfo{
            border: none;
            font-size: medium;
            background: transparent;
            color: white;
            font-size: large;
        }

        .image{
            position: relative;
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: url('/assets/profile-images/logo4.jfif') no-repeat center / cover;
            border: 4px solid #00d8fe;
            margin-bottom: 2px;
            overflow: hidden;
            cursor: pointer;
        }
        
        .image .hover{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(79, 172, 254, .7);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            transition: .5s;
            opacity: 0;
        }
        
        .image:hover .hover{
            opacity: 1;
        }
        .hover.active{
            opacity: 1;
        }
        
        .name{
            font-size: 1.2rem;
            color: #fff;
            font-weight: 500;
            line-height: 1;
            margin: 5px 0;
            text-align: center;
            position: relative;
            left: 15%;
        }                
    }

}

.content{
    display: inline-block;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;

    .userinfo{
        border: none;
        font-size: medium;
    }

    .title{
        position: relative;
        color: #555;
        font-weight: 500;
        font-size: 1.1rem;
        padding: 0 0 3px 0;
        margin-bottom: .9rem;
        display: inline-block;
    }

    .title:after{
        content: '';
        position: absolute;
        height: 3px;
        width: 50%;
        background-color: #555;
        bottom: 0;
        left: 0;
    }
    .text{
        color: #666;
        font-weight: 300;
        line-height: 1.7;
    }
        
    .icons-container{
        padding: 1rem 0;
        
        .icon{
            color: #c4c4c4;
            font-size: 1.3rem;
            text-decoration: none;
            margin-right: 8px;
            transition: .3s;
        }

        .icon:hover{
            color: #4facfe;
        }
    }
    .buttons-wrap{
        display: flex;
        margin-top: 5px;

        .follow-wrap, .share-wrap{
            flex: 4;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;
        }
        
        .follow-wrap:hover, .share-wrap:hover{
            flex: 5;
        }
                
        .follow{
            padding: 9.6px 0;
            width: 100%;
            background: linear-gradient(to right, #4facfe 0%, #00f2fe 140%);
            color: #fff;
            text-align: center;
            text-decoration: none;
            font-size: .7rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            border-radius: 18.1px;
            margin-right: 3px;
        }

        .share{
            padding: 7.6px 0;
            width: 100%;
            border: 2px solid #4facfe;
            color: #4facfe;
            text-decoration: none;
            text-align: center;
            font-size: .7rem;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-left: 3px;
            border-radius: 18.1px;
        }
    }  
}




// media queries

// < 430px
@media screen and (max-width:430px) {
    
.maincontainer {
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.9)), url(./bg7.jpg);
}

    header {
        hr.hr0 {
            display: block;
        }
        .navbars {
            text-align: center;
            ul {
                display: none;
                width: 100%;
                background-color:  rgb(99, 169, 192);
                position: absolute;
                top: 38px;
                right: -5;
                z-index: 2;
            }
            li {
                display: block;
                position: relative;
                margin-top: 5px;
                margin-bottom: 7px;
            }
            a {
                color: black;
                font-size: small;
            }
            .active a {
                color: white;
                font-weight: bold;
                font-size: medium;
            }
            .menuicon { 
                display: block;      
            }
            .menu {
                width: 25px;
            }
        }  
    }

    section {
        
    .rightsection {
        position: relative;
        top: 1.5%;
        right: -30%;
        text-align: center;
        justify-content: center;
        align-items: center;
        animation: none;

        .animation {
            animation: none;
        }

        h1 {
            font-size: 25px;
            line-height: 25px;
            text-shadow: rgb(255, 255, 255) -3px 0.5px 2px;
        }
    }

        .leftsection {
            position: relative;
            margin-left: 20%;
            margin-top: 45%;
            display: grid;
            align-items: center;
            
            .animation {
                animation: none;
            }
    
            p {
                font-size: 18px;
                margin-right: 10px;
            }
    
            #play {
                width: 65px;
                margin-top: 5%;
                margin-left: 25%;
            }
        }
        #span {
            position: absolute;
            top: 95%;
            margin-left: 8%;
            letter-spacing: 0.1px;
        }
    }
}

// 430px - 760px 
@media screen and (max-width:770px) and (min-width:431px) {

    header {
        .navbars {
            a {
                font-weight: 500;
            }
            .active a {
                color: white;
                font-weight: 700;
                font-size: large;
            }
        }
    }
    
    section {
        .rightsection {
            top: 15%;
            right: 4%;
            text-align: center;
            justify-content: center;
            align-items: center;
            animation: none;
    
            .animation {
                animation: none;
            }

            h1 {
                font-size: 60px;
                line-height: 100px;
                text-shadow: rgb(255, 255, 255) -7px 3px 5px;
            }
        }

        .leftsection {
            margin-left: 5%;
            margin-top: 55%;
            display: grid;
            align-items: center;
    
            .animation {
                animation: none;
            }

            p {
                font-size: 23px;
                margin-right: 10px;
            }
    
            #play {
                width: 65px;
                margin-top: 5%;
                margin-left: 25%;
            }
        }
        #span {
            position: absolute;
            top: 95%;
            left: 3%;
            letter-spacing: 0.5px;
        }
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }

// 770px - 1024px
@media screen and (max-width:1025px) and (min-width:771px) {
    section {
        .rightsection {
            right: 0%;

            h1 {
                font-size: 80px;
                line-height: 110px;
            }
        } 
        .leftsection {
            margin-left: 5%;
            margin-top: 35%;
            display: grid;
            align-items: center;
    
            p {
                font-size: 25px;
                margin-right: 10px;
            }
    
            #play {
                width: 70px;
                margin-top: 5%;
                margin-left: 25%;
            }
        }
        #span {
            position: absolute;
            top: 85%;
            left: 4%;
            letter-spacing: 0.8px;
        }
    }
}

// media queries (card)
@media (max-width: 410px){
    .content{
        flex-direction: column;
    }

    .right{
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
}

@media (max-width: 370px){
    .header{
        height: 230px;
    }

    .card:before{
        clip-path: circle(400px at 50% -74.5%);
        height: 230px;
    }

    .hamburger-menu{
        width: 16px;
        height: 12px;
        top: 1.1rem;
        left: 1.5rem;
    }

    .mail{
        font-size: 1.1rem;
        top: .75rem;
        right: 1.5rem;
    }

    .main .image{
        width: 90px;
        height: 90px;
        border-width: 3px;
    }

    .name, .sub-name{
        font-size: 1rem;
    }

    .content{
        padding: 1.2rem 1.8rem 1.8rem 1.8rem;
    }

    .number{
        font-size: 1.8rem;
    }

    .number-title{
        font-size: .4rem;
    }

    .right{
        padding-top: 1rem;
    }

    .title{
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .text{
        font-size: .8rem;
    }

    .icons-container{
        padding: .5rem 0;
    }

    .icon{
        font-size: 1.1rem;
    }

    .follow{
        padding: 7.6px 0;
        border-radius: 14.6px;
        font-size: .6rem;
    }

    .share{
        padding: 5.6px 0;
        border-radius: 14.6px;
        font-size: .6rem;
    }
}